{% extends "practice/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    

<style>

    #register-card {
        width: 350px;
        border-radius: 25px;
        margin: 50px auto;

    }

    #id_username {
        border-radius: 30px;
        background-color: #ebf0fc;
        border-color: #ebf0fc;
        color: #9da3b0;
    }
     #id_email {
        border-radius: 30px;
        background-color: #ebf0fc;
        border-color: #ebf0fc;
        color: #9da3b0;
    }
    #id_password1 {
        border-radius: 30px;
        background-color: #ebf0fc;
        border-color: #ebf0fc;
        color: #9da3b0;
    }
    #id_password2 {
        border-radius: 30px;
        background-color: #ebf0fc;
        border-color: #ebf0fc;
        color: #9da3b0;
    }


    #button {
        border-radius: 30px;

    }

    #btn {
        position: absolute;
        bottom: -35px;
        padding: 5px;
        margin: 0px 55px;
        align-items: center;
        border-radius: 5px;

    }

    #container {
        margin-top: 25px;
    }

    .btn-circle.btn-sm {
        width: 40px;
        height: 40px;
        padding: 2px 0px;
        border-radius: 25px;
        font-size: 14px;
        text-align: center;

        margin: 8px;
    }
</style>
        <div id="register-card" class="card">
            <div class="card-body">
                <h2 class="text-center">Register</h2>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                            <input class="form-control" placeholder="Enter username" type="text" name="username" maxlength="150" autofocus required id="id_username">
                    </div>
                    <div class="form-group">
                            <input class="form-control" placeholder="Enter email" type="email" name="email" required id="id_email">
                    
                    </div>
                    <div class="form-group">
                            <input class="form-control" placeholder="Enter Password" type="password" name="password1" autocomplete="new-password" required id="id_password1">
                    </div>
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    <div class="form-group">
                            <input class="form-control" placeholder="Confirm password" type="password" name="password2" autocomplete="new-password" required id="id_password2">
                    </div>
                    {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                    {% endfor %}
        
                    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Register</button>
                    <br>
                    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
                </form>
            </div>
            <div>

        <!--<div class="container py-5">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}
            {% for message in messages %}
            
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
            
            {% endfor %}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
    </div>-->
{% endblock %}
